<%- include("header") -%>

<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>

<div class="box">
    <% for(i = 0; i<NewListItem.length; i++) { %>
        <div class="item">
            <form action="/delete" class="item" method="post">
                <input type="checkbox" name="CBox" onclick="this.form.submit()" value="<%= NewListItem[i]%>">
            </form>
            <p> <%= NewListItem[i] %> </p>
        </div>
    <% } %>
    <form class="item" action="/" method="post">
        <input type="text" name="newList" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
</div>

<%- include("footer") -%>